# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# Map Maintainers
/_maps/ @DarkPack13/maptainers
*.dmm @DarkPack13/maptainers

# Sprite Maintainers
/icons/ @DarkPack13/spritetainers
*.dmi @DarkPack13/spritetainers

# Code Maintainers
/code/ @DarkPack13/maintainers
*.dm @DarkPack13/maintainers

# MAINTAINERS

# FalloutFalcon
/modular_darkpack/modules/cars/code/ @FalloutFalcon
/modular_darkpack/modules/city_time/code/ @FalloutFalcon
/modular_darkpack/modules/doors/code/ @FalloutFalcon
/modular_darkpack/modules/storyteller_dice/code @FalloutFalcon
/modular_darkpack/modules/storyteller_stats/code @FalloutFalcon
/modular_darkpack/modules/werewolf_the_apocalypse/code @FalloutFalcon

# CONTRIBUTORS


# MULTIPLE OWNERS


# Host Hell



# Expensive files that touching basically always cause performance problems
## Init times
